.content {
  margin-top: 20px;
}

.thin-heading {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

#button {
  background-color: var(--pink);
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  width: 100px;
}

#button:hover {
  background-color: var(--green);
  color: var(--black);
  border: var(--green);
}

#button:active {
  border: var(--green);
}

#button:focus {
  border: var(--green);
}

::-webkit-input-placeholder {
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
}

:-ms-input-placeholder {
  font-size: 18px;
  font-family: "PT Sans Narrow", sans-serif;
}
.error-text {
  color: var(--pink);
  font-weight: bold;
}
.small-p {
  font-size: 11px;
  text-align: center;
}
