@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");

body,
html {
  font-family: "PT Sans Narrow", sans-serif !important;
}

:root {
  --pink: #e3bfab;
  --black: #000000;
  --green: #a4b5b1;
  --orange: #ffb203;
  --white: #ffffff;
}
